@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.container-home_content-list {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  height: 320vh;
}

.container-pengajuan {
  height: 170vh;
}

.container-table {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.container-dashboard {
  height: 280vh;
}
